@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@source "../**/*.{js,ts,jsx,tsx,mdx}";

:root {
  --background: 226 232 240;
  /* #e2e8f0 slate-200 */
  --foreground: 30 41 59;
  /* #1e293b slate-800 */
  --chart-text: 71 85 105;
  /* text-slate-600 */
  --chart-grid: 148 163 184;
  /* slate-400 */
}

.dark {
  --background: 15 23 42;
  /* #0f172a */
  --foreground: 248 250 252;
  /* #f8fafc */
  --chart-text: 148 163 184;
  /* text-slate-400 */
  --chart-grid: 30 41 59;
  /* slate-800 */
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.top-3 {
  top: calc(var(--spacing) * 2.5);
}